/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  --main-color: #fa804c;
  --secondary-color: #363958;
  --gray-black: #3e3e3e;
  --gray-dark: #3c3c3c;
  --white-color: #ffffff;
  --header-background-color: #fff9f4;
  --transition: 0.3s;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--gray-black);
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: 'Bebas Neue', cursive;
  color: var(--secondary-color);
  margin: 0;
}

.color__text {
  color: var(--main-color);
}

.btn-custom {
  color: var(--white-color) !important;
  background-image: linear-gradient(180deg, #3d4ff3, #3543bc);
  padding: 12px 20px;
  text-transform: uppercase;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.btn-custom span {
  margin-left: 10px;
}

.section__title {
  font-size: 48px;
  color: var(--secondary-color);
}

/* HEADER AREA */
header {
  background-color: var(--header-background-color);
  padding-bottom: 100px;
}

header nav.navbar {
  padding: 20px 0;
}

header .navbar-nav .nav-link {
  color: var(--gray-dark) !important;
  font-weight: 500;
}

.header__text h1 {
  font-size: 80px;
}

.header__text h1 span {
  display: block;
}

.header__text p {
  margin-top: 15px;
  margin-bottom: 25px;
}

/* ABOUT AREA */
.product__area .card {
  background-color: var(--white-color);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border: none;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.product__area .card:hover {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

.product__area .card__image {
  background-color: #f1f1f1;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.product__area .card__image:hover {
  transform: skewX(-10deg);
  -webkit-transform: skewX(-10deg);
  -moz-transform: skewX(-10deg);
  -ms-transform: skewX(-10deg);
  -o-transform: skewX(-10deg);
}

.product__area .card .card-body {
  background-color: var(--white-color);
  padding-bottom: 0;
}

.product__area .card .card-body .card-title {
  font-size: 24px;
  color: var(--secondary-color);
  font-weight: 600;
}

.product__area .card .card-body .color__text {
  font-size: 36px;
}

.product__area .formal__shoes .card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
